<a href="https://colab.research.google.com/github/ElPapi42/data-fresh/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount gdrive
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
# Copy csv to notebook runtime storage
!cp '/content/drive/MyDrive/Datasets/bitcoin_price.csv' '/content/bitcoin_price.csv'

In [3]:
from datetime import datetime

import pandas as pd

# Disable decimals for this notebook
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [4]:
# Load the dataset
btc = pd.read_csv('/content/bitcoin_price.csv')

In [5]:
# Preprocess MarketCap and volume from str to numeric type

btc['Market Cap'] = btc['Market Cap'].map(lambda x: int(x.replace(',', '')))

def cast_volume(value):
    """Casts a str volume to int safely."""
    value = value.replace(',', '')

    if not value.isdigit():
        return None

    return int(value)

btc['Volume'] = btc['Volume'].map(cast_volume)

btc['Date'] = btc['Date'].map(lambda x: datetime.strptime(x, '%b %d, %Y'))

In [6]:
btc.describe(datetime_is_numeric=True)

                                Date    Open  ...        Volume     Market Cap
count                           1760  1760.0  ...        1517.0         1760.0
mean   2015-09-24 11:59:59.999974912  1479.6  ...   995277049.8  23814544563.1
min              2013-04-28 00:00:00    68.5  ...     2857830.0    779255000.0
25%              2014-07-11 18:00:00   274.7  ...    22832500.0   3890227500.0
50%              2015-09-24 12:00:00   480.7  ...    56122400.0   6840475000.0
75%              2016-12-07 06:00:00   870.1  ...   203559000.0  12502025000.0
max              2018-02-20 00:00:00 19475.8  ... 23840900000.0 326141000000.0
std                              NaN  2950.5  ...  2989273963.6  49711849959.5

[8 rows x 7 columns]

We have Data from 2013 to 2018

In [7]:
# Check for null values across the dataframe
btc.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume        243
Market Cap      0
dtype: int64

Volume has some missing values, possible unparseable strings