<a href="https://colab.research.google.com/github/ElPapi42/data-fresh/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount gdrive
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
# Copy csv to notebook runtime storage
!cp '/content/drive/MyDrive/Datasets/bitcoin_price.csv' '/content/bitcoin_price.csv'

In [4]:
import pandas as pd

In [6]:
# Load the dataset
btc = pd.read_csv('/content/bitcoin_price.csv')

In [9]:
btc.describe()

               Open          High           Low         Close
count   1760.000000   1760.000000   1760.000000   1760.000000
mean    1479.574239   1536.991108   1418.251273   1485.747000
std     2950.457188   3092.950362   2780.859459   2959.265478
min       68.500000     74.560000     65.530000     68.430000
25%      274.730000    279.857500    268.640000    274.875000
50%      480.715000    495.195000    472.510000    482.810000
75%      870.085000    900.222500    831.682500    871.370000
max    19475.800000  20089.000000  18974.100000  19497.400000

In [19]:
# Preprocess MarketCap from str to numeric type
btc['Market Cap'] = btc['Market Cap'].map(lambda x: x.replace(',', ''))
btc

              Date      Open      High  ...     Close         Volume    Market Cap
0     Feb 20, 2018  11231.80  11958.50  ...  11403.70  9,926,540,000  189536000000
1     Feb 19, 2018  10552.60  11273.80  ...  11225.30  7,652,090,000  178055000000
2     Feb 18, 2018  11123.40  11349.80  ...  10551.80  8,744,010,000  187663000000
3     Feb 17, 2018  10207.50  11139.50  ...  11112.70  8,660,880,000  172191000000
4     Feb 16, 2018  10135.70  10324.10  ...  10233.90  7,296,160,000  170960000000
...            ...       ...       ...  ...       ...            ...           ...
1755  May 02, 2013    116.38    125.60  ...    105.21              -    1292190000
1756  May 01, 2013    139.00    139.89  ...    116.99              -    1542820000
1757  Apr 30, 2013    144.00    146.93  ...    139.00              -    1597780000
1758  Apr 29, 2013    134.44    147.49  ...    144.54              -    1491160000
1759  Apr 28, 2013    135.30    135.98  ...    134.21              -    1500520000

[1760 rows x 7 columns]